body{

font-family:Arial;

background:#87CEEB;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

background:white;

padding:30px;

border-radius:10px;

text-align:center;

width:350px;

box-shadow:0px 0px 10px gray;

}

input{

width:90%;

padding:10px;

margin:10px;

}

button{

padding:10px 20px;

background:green;

color:white;

border:none;

cursor:pointer;

}

button:hover{

background:darkgreen;

}

img{

margin-top:10px;

}